<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="BlazoriseMyGet" value="https://www.myget.org/F/blazorise/api/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/7c064fd0-3856-4dbc-9f50-ef3283b380d2/v3/index.json" />
  </packageSources>
</configuration>